.friendImage {
  width: 90px;
}

.friendName {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 10px 0;
}

.friendIsOnline {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
}

.onlineColor {
  color: #0fe762;
}

.offlineColor {
  color: #ff4827;
}
